<?xml version="1.0" encoding="UTF-8"?>

<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.mdn_photo_gallery_app"
        version   = "1.0.0">
    <name>Photo Gallery</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="medina@mdnsolutions.com" href="http://mdnsolutions.com">
        Medina
    </author>
    <content src="index.html" />

    <icon src="assets/img/logo.png" />

    <!-- Domains enabled -->
    <gap:plugin name="com.indigoway.cordova.whitelist.whitelistplugin" version="1.1.1" />
    <access origin="*"/>
    <!-- if Fullscreen -->
    <!-- <preference name="Fullscreen" value="true" /> -->
    <!-- orientation -->
    <!-- <preference name="Orientation" value="landscape" /> -->
</widget>

