#content, #footer { display: block; width: 100%; float: left; clear: both; }
header {  display: block; width: 100%;  position: fixed; top: 0; background-color: #efefef; padding: 3px 0; border-bottom: 2px solid #ccc; }
h1 { font-size: 1.3em; max-width: 200px; float: left; line-height: 50px; text-indent: 5px; color: #2262AD; }

/*----- Menu -----*/
nav { float: right;	padding: 20px; }
#menu-icon { display: hidden; width: 40px; height: 40px; background: #4C8FEC url(../img/menu-icon.png) center; }
a:hover#menu-icon {	background-color: #444; border-radius: 4px 4px 0 0; }
nav ul { list-style: none; }
nav:hover ul { display: block; }
nav li { display: inline-block; float: left; }
nav li a { display: inline-block;  width: 100%; text-decoration: none; line-height: 40px; color: #333; margin: 0 10px;}
nav li:hover { background-color: #dfdfdf; } 
nav .current { color: #2262AD; }

/*MEDIA QUERY*/
@media only screen and (max-width : 640px) {
	#menu-icon { display:inline-block; }
	nav ul, nav:active ul { display: none; position: absolute; padding: 0px; background: #fff; border: 2px solid #444;
		right: 20px; top: 60px; width: 50%; border-radius: 1px 0 4px 4px; margin: 0; }
	nav li { text-align: center; width: 100%; margin: 0; }
	nav li a { margin: 0; }
}

/*----- Content -----*/
section#content { margin: 80px 0 40px 0; }	
section#content #icon-loading { max-width: 300px; }

ul.photolist { list-style: none; padding: 0; margin: 15px 0; display: table; }
ul.photolist li { float: left; padding: 2px; margin: 2px; }
ul.photolist li img { width: 200px; height: 120px; border-radius: 7px; }


/*----- Footer -----*/
#footer { position:fixed; bottom:0; background-color: #efefef; text-align: center; font-size: 0.8em; }